.content{
    background-image: url("../images/back_small_and_larger.png");
    background-size: 1280px;
    background-repeat: no-repeat;
    width: 1280px;
    height: 1500px;
    margin: 0 auto;
    position: relative;
}
.car_container{
    cursor: pointer;
    height: 55px;
    width: 55px;    background-size: 55px;
    position: absolute;
    top: 222px;
    left: 186px;
    border-radius: 20px;
}
.car_inches {
    width: 100%;
    margin: 0;
    font-size: 7px;
    color: white;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 1px;
    box-sizing: border-box;
}
.car_year {
    width: 100%;
    margin: 0;
    font-size: 9px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: -5px;
    box-sizing: border-box;
}
.car_image {
    width: 35px;
    margin: 0 auto;
}
.car_image  img {
    width: 35px;
    text-align: center;
}
.car_name {
    width: 100%;
    margin: 0;
    font-size: 8px;
    color: white;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
}

.popup {
    width: 400px;
    height: auto;
    min-height: 335px;
}
.popup_title {
    font-size: 20px;
    text-align: left;
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 15px;
}
.popup_img {
    margin: 0 auto;
    width: 256px;
    border: 1px solid #E1E1E1;
}
.popup_description {
    margin-top: 10px;
    font-size: 16px;
}
.filters {
    width: 400px;
    margin: 0 auto;
}
.cancel-search {
    float: right;
    margin-right: 10px;
    margin-top: -23px;
    position: relative;
    z-index: 2;
    color: gray;
}
.cancel-search:hover {
    color: black;
}